.header {
    color:red;
    font-size: 5rem;
    letter-spacing: 2%;
    font-weight: bolder;
}

.title {
    font-size: 1.6rem;
}

.desc {
    font-size:0.8rem;
}

.gray {
    color: #636363;
}

.light-gray {
    color: #E5E5E5;
}

.red {
    color: #FE0002;
}
